FORMAT: 1A
HOST: https://api.widgetcentral.com

# Widget API
A grand API for all things Widget


# Group Widgets

## The Widget Collection [/widgets]

### Retrieve all Widgets [GET]
Fetch all the Widgets in the world.

+ Response 200 

	+ Body

            [
                {
                    "Id": 0,
                    "Name": "Nothing",
                    "Role": "N/A"
                },
                {
                    "Id": 1,
                    "Name": "Jibjab",
                    "Role": "Instrument"
                },
                {
                    "Id": 2,
                    "Name": "Pencil",
                    "Role": "Utensil"
                },
                {
                    "Id": 3,
                    "Name": "Fork",
                    "Role": "Utensil"
                },
                {
                    "Id": 4,
                    "Name": "Password",
                    "Role": "Credential"
                },
                {
                    "Id": 5,
                    "Name": "SpanFrankisco",
                    "Role": "Home"
                },
                {
                    "Id": 6,
                    "Name": "Doc",
                    "Role": "Villain"
                },
                {
                    "Id": 7,
                    "Name": "Coff3e",
                    "Role": "Hack"
                }
            ]        


### Create a Widget [POST]
Add a Widget to the world-wide-widget collection.

+ Request (application/json)

	+ Body

            {
                "Name": "anotherwidget",
                "Role": "controller"
            }        


+ Response 201 

	+ Body

            {
                "Id": 8,
                "Name": "anotherwidget",
                "Role": "controller"
            }        


# Group Foos

## The Foo Resource [/foos/{name}]

+ Parameters
    + name: `ABeeSee` (string) - The name of the Foo.

### Retrieve a single Foo [GET]
Retrieve a Foo by name.

+ Response 200 

	+ Body

            {
                "B": "A",
                "A": "Bee",
                "R": "See"
            }        


## The Foo Collection [/foos]

### Retrieve all Foos [GET]
Fetch all the Foos in the world.

+ Response 200 

	+ Body

            {
                "2": {
                    "B": "",
                    "A": "",
                    "R": "2"
                },
                "ABeeSee": {
                    "B": "A",
                    "A": "Bee",
                    "R": "See"
                },
                "OneTwoThree": {
                    "B": "One",
                    "A": "Two",
                    "R": "Three"
                },
                "SomethingFunForYou": {
                    "B": "Something",
                    "A": "Fun",
                    "R": "ForYou"
                }
            }        


## The Widget Resource [/widgets/{id}]

+ Parameters
    + id: `2` (number) - The unique id of the Widget.

### Retrieve a single Widget [GET]
Retrieve a Widget by id.

+ Response 200 

	+ Body

            {
                "Id": 2,
                "Name": "Pencil",
                "Role": "Utensil"
            }        


